@import url(http://yui.yahooapis.com/combo?3.0.0/build/cssreset/reset-min.css&3.0.0/build/cssfonts/fonts-min.css&3.0.0/build/cssbase/base-context-min.css);
@import url(/stylesheets/albi.css);
@import url(/extras/MooEditable/MooEditable.css);

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

a {
  color: #296F98;
  text-decoration: none;
}

.match {
  background: yellow;
}

.note h2.title {
  font-size: 146%;
  margin-bottom: 0;
}

.note #note_body {
  margin-top: .9em;
}

div#container {
  margin: 0 auto;
  width: 600px;
}

header {
  background: #f3f3f3;
  margin-bottom: 1em;
  overflow: auto;
  padding: .5em .8em;
  -webkit-border-bottom-left-radius: .5em;
  -webkit-border-bottom-right-radius: .5em;
}

header h1 {
  float: left;
}

header a {
  color: #777;
  text-decoration: none;
}

header nav.user {
  float: right;
}

section#main {
  padding: 0 .5em;
}

p.notice {
  background: #D7E2F6;
  border: 1px solid #AAC1EC;
  border-radius: .5em;
  color: #333;
  display: none;
  font-size: 85%;
  line-height: 1em;
  padding: .5em .8em;
  text-transform: lowercase;
}

.note_list {
  line-height: 146%;
}

.note_list .note {
  margin-bottom: 1em;
}

.note_list h2.date {
  border-bottom: 1px solid #eee;
  color: #555;
  font-size: 77%;
  font-weight: normal;
  letter-spacing: .09em;
  line-height: 1.4em;
  margin: 0 0 1.5em 0;
  text-transform: uppercase;
}

.note_list .note h3 {
  font-size: 123%;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
}

.tags span {
  background: #D7E2F6;
  border: 1px solid #AAC1EC;
  -webkit-border-radius: 8px;
  font-size: 77%;
  font-weight: 500;
  color: #111;
  padding: .1em .7em;
}

.note_list .note .summary {
  color: #ccc;
  font-size: 92%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.note_list .note .summary .ellipsis {
  background: url(/images/fade.png);
  display: block;
  height: 100px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: -100em;
  top: 0;
  width: 50px;
}

.note_form input.title, .note_form input.tags, .note_form textarea {
  border: 1px solid #ddd;
  color: #191919;
  padding: 5px;
  width: 572px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
}

.note_form input.title {
  font-size: 138%;
  font-weight: bold;
}

.note_form textarea.body {
  border: 1px solid #ddd;
  font-family: monospace;
  height: 30em;
  padding: 5px;
  width: 572px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
}
